<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
     >

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <!-- 输出到文件,这个文件记录所有的日志 -->
      <target xsi:type="File" name="allfile" fileName="${basedir}/Logs/LogAll/${date:format=yyyyMM}/${shortdate}.htm"
                  layout="&lt;HR COLOR=red&gt;${longdate}&lt;BR&gt;${logger}&lt;BR&gt;${uppercase:${level}}&lt;BR&gt;【位置信息】：${aspnet-request-url}--${aspnet-mvc-action}&lt;BR&gt;${message}${Exception}&lt;HR Size=1&gt;" />

      <!-- 输出到文件,这个文件记录错误日志 -->
      <target xsi:type="File" name="logError" fileName="${basedir}/Logs/LogError/${date:format=yyyyMM}/${shortdate}.htm"
              layout="&lt;HR COLOR=red&gt;【异常时间】：${date} &lt;BR&gt;【异常级别】：${level:uppercase=true} &lt;BR&gt;【位置信息】：${aspnet-request-url}--${aspnet-mvc-action}&lt;BR&gt;${message}${Exception}&lt;HR Size=1&gt;" />

      <!-- 输出到文件,这个文件记录操作日志 -->
      <target xsi:type="File" name="logInfo" fileName="${basedir}/Logs/LogInfo/${date:format=yyyyMM}/${shortdate}.htm"
                   layout="&lt;HR COLOR=red&gt;【操作时间】：${date} &lt;BR&gt;【操作级别】：${level:uppercase=true} &lt;BR&gt;【位置信息】：${aspnet-request-url}--${aspnet-mvc-action}&lt;BR&gt;${message}${Exception}&lt;HR Size=1&gt;" />
    </target>
    <!--写入数据库-->
    <!--<target  name="database" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">-->
      <!--<target xsi:type="Database"  name="database"  dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"  connectionString="server=localhost;user id=root;pwd=123456;database=dncethic;SslMode = none;Charset=utf8">-->
        <target xsi:type="Database" name="database">
        <connectionString>${var:dbconnection}</connectionString>
        <dbProvider>${var:dbprovider}</dbProvider>
        <!--<dbProvider>MySql.Data.MySqlClient.MySqlConnection, MySql.Data</dbProvider>-->
        <!--<connectionString>erver=localhost;user id=root;pwd=123456;database=dncethic;SslMode = none;Charset=utf8</connectionString>-->
        <commandText>
          insert into sys_log (S_Id,Application,Level,OperatingTime,IpAddress,OperateUser,Logger,CallSite,RequestUrl,ActionName,Message,ExceptionInfo)
          values (@S_Id,@application,@level,@operatingtime,@operatingaddress,@operateuser,@logger,@callSite,@requesturl,@action,@message,@exception);
        </commandText>
        <parameter name="@S_Id" layout="${guid}"  />
        <parameter name="@application" layout="DncEthic" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@operatingtime" layout="${date}" />
        <parameter name="@operatingaddress" layout="${aspnet-Request-IP}" />
        <parameter name="@operateuser" layout="System" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@callSite" layout="${callsite}" />
        <parameter name="@requesturl" layout="${aspnet-request-url}" />
        <parameter name="@action" layout="${aspnet-mvc-action}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@exception" layout="${exception:tostring}" />
        <!--<parameter name="@stackTrace" layout="${stacktrace}"/>-->

      </target>
    <!--</target>-->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="*" minlevel="Info" writeTo="database" />
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="*" minlevel="Error" writeTo="logError" />
    <logger name="*" minlevel="Info" writeTo="logInfo" />
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
  </rules>
</nlog>
